@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
<img src="~/Images/BuckingBronco.png" alt="Error Image" />
